---
layout: base.njk
title: Página não encontrada
permalink: /404.html
eleventyExcludeFromCollections: true
---
<div class="pagina-estreita">
  <header class="cabecalho-pagina"><h1>Página não encontrada</h1></header>
  <p>O endereço pode ter mudado com a reforma do site. Tente a <a href="/busca/">busca</a> ou veja as <a href="/noticias/">notícias mais recentes</a>.</p>
</div>
